@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">@GameTitle</div>
	<div id="choices">
		<div class="choice">New Game</div>
		<div class="choice">Options</div>
		<div class="choice">Quit</div>
	</div>
</root>

@code
{

	[Property] public string GameTitle { get; set; } = "Dead Wringer";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( GameTitle );

}
